.form{
    display: grid;
    flex-direction: column;

}

.form input, textarea, button{
    display: list-item;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    padding: .5rem;
    color: #507469;
    margin: 1rem;
    border-radius: 0.5rem;
    background: rgba(59, 49, 46, 0.6);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form textarea{
    display: flex;
    outline: none;
    resize: vertical;
    max-height: 3rem;
}

.form button{
    outline: none;
    border-radius: 0.5rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background:  #507469;
    color: #ffffff;
}   

.btn-bg{
    height: auto;
    width: auto;
    font-family: rancho;
    font-size: 25px;
}