@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


:root{
  --font-color: #FFFFFF

  }

a{
  color: darkred;
  text-decoration: none;
}

body {
    color: var(--font-color);
    font-family: 'Ranga'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #2D3A36;

}
